.description,.ingredients,.instructions {
    border: dashed;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.img-container {
    margin-left: 40%;
}

.description {
    background-color: rgb(138, 123, 123);
}

.ingredients {
    background-color: rgb(112, 107, 107);
}

.instructions {
    background-color: rgb(163, 150, 150);
}

ul {
    list-style-type: square;
}